# Essential Guide to Python Pandas <a class="anchor" id="title"></a>

### A Crash Course with Reusable Code Template in Jupyter Notebook

The Pandas library has emerged as one of the most important data wrangling and processing tools for Python developers and data professionals. It allows users to quickly apply data wrangling tasks such as handling missing data, removing duplicate records, merging multiple datasets, and so on. Therefore, the Pandas library has become a must-have tool in the data science toolkit.

In this series of articles, we provide a crash course to get you started using the Pandas library. The course is designed to be a practical guide with real-life examples of the most common data manipulation tasks.

### Who is this Course for

This course is for aspiring data professionals and Python developers who want to learn how to process data in Pandas. We assume you already have a minimum working knowledge about Python programming language and are comfortable running data science documents using Jupyter notebook. 

To follow the examples in this course, you can copy and paste the code snippets into your Jupyter notebook environment.

### What Makes Pandas Special

Pandas is an open-source, free (under a [BSD license](https://en.wikipedia.org/wiki/BSD_licenses)) Python library originally written by [Wes McKinney](https://en.wikipedia.org/wiki/Wes_McKinney). It is a high-level data structure and manipulation tool designed to make data analysis and wrangling fast and easy. The library offers a variety of functions and methods to transfer different data sources into a tabular format. In this format, each record is housed on one row and each column contains a unique data type. 

Python Developers and Data Professionals can upload data from a variety of data sources such as SQL Databases, API JSON format, CSV files as well as native Python data structures like lists and dictionaries. This flexibility makes Pandas suitable for a wide range of applications. Among them are machine learning modeling, data visualization, and time series forecasting. The versatile structure also makes it easy to integrate pandas with other libraries such as scikit-learn. 

Early [releases of Pandas](https://pandas.pydata.org/docs/whatsnew/index.html) DataFrame dated back to 2011 with Pandas version 1.0 released in January 2020.

## Table of Contents

1. [ How to Import Pandas Library](#section_1)
2. [ Anatomy of Pandas Data Structures](#section_2)
3. [ Get Data into and from Pandas](#section_3)
    * Python Native Data Structures
    * Tabular Data Files
    * API Query and JSON Format
    * Web Pages Data
4. [Describe Information in DataFrames](#section_4)
5. [Understand Data Types](#section_5)
6. [Data Cleaning in Pandas](#section_6)
    * Split & Merge Columns
    * Change Columns DataType
    * Rename Columns
    * Drop Rows and Columns
    * Manipulate text content
7. [Pandas Merging & Joining Data](#section_7)
8. [Data Accessing & Aggregation](#section_8)
9. [Pandas Data Visualization](#section_9)
10. [Pandas Analysis Project](#section_10)
    * Collect Data From Multiple Sources
    * Clean Data
    * Join DataFrames
    * Perform Basic Analysis

### 1. How to Import Pandas Library <a class="anchor" id="section_1"></a>
The easiest way to start using Pandas library is to get the Python [Anaconda](https://www.anaconda.com/products/individual#Downloads) distribution, a cross-platform distribution for data analysis and scientific computing. The distribution has more than 250 of the most commonly used data science packages and tools such as Pandas, Scikit Learn, Jupyter, and so on. To start using Pandas in your analysis environment, you need to simply run the import Pandas command.

In [ ]:
# Import Pandas library
import pandas as pd

To check your current version of Pandas library, you can run the __version__ command.

In [ ]:
# Check Pandas version
pd.__version__

Great, you are now ready to start learning Pandas library!

**[Back to Top](#title)**

### 2. Anatomy of Pandas Data Structures <a class="anchor" id="section_2"></a>


The two main Pandas data structure objects are **DataFrames** and **Series**. Pandas DataFrame object is a two-dimensional labeled structure that can hold data in rows and columns, similar to a spreadsheet file or relational database table. Each DataFrame column (also called Pandas Series Object) is a one-dimensional labeled structure with a descriptive name and unique data type that applies to all values in that column. ***In other words, you can think of a DataFrame as a collection of Series.***

Both DataFrame and Series objects have index keys that can be used to reference corresponding values. Index keys are created automatically and can be manipulated by the user to assign specific values as DataFrame or Series index. 

In the example below, we see a Pandas DataFrame object about countries. The DataFrame consists of four different Series objects (country_name, capital_city, population, area_km2) with index values representing each country’s ISO code. Later on, you will learn how you can use the DataFrame index to select specific data values. 

The image below demonstrates the structure of Pandas DataFrame and Series objects.

<img src='Images/DataFrame Stracture.png' class="center"/>

**[Back to Top](#title)**

### 3. Getting Data into and from Pandas <a class="anchor" id="section_3"></a>

Pandas library is designed to access data from a wide variety of sources and formats. Some popular data sources include tabular files, database tables, third-party APIs and even using Python native data structures. This flexibility is what makes Pandas library useful for many user groups such as developers and data professionals.

To upload data into a Pandas DataFrame, you can utilize a set of reader functions such as [pandas.read_csv()]() to get the data into DataFrame objects. The library also has a set of writer functions such as [pandas.DataFrame.to_csv()]() to allow users to export data frames into external dataset files. 

In each function, you can use a set of parameters to pass specific information about your dataset. For instance, in the [pandas.read_csv()]() and [pandas.read_table()]() functions, you can use the sep parameter to identify the delimiter that separates your data values. 

The figure below shows a list of available readers and writers functions. 

<img src='Images/Pandas_io_readwrite.svg' class="center"/>

Source: [Pandas IO Tools]()

In the following sections, we will learn about some most commonly used methods to get data into and from a Pandas DataFrame.

**[Back to Top](#title)**

#### 3.1 Python Native Data Structures
The Python programming language has a variety of built-in data structures such as lists, tuples, dictionaries, strings, and sets. These data structures are ideal for storing data during program execution, however, they can not be efficiently used to perform analytical tasks such as exploratory analysis and data visualization. Pandas library can transfer Python data structures into DataFrame objects to allow users to easily perform data manipulation and analytics. 

For example, imagine we have a Python dictionary to save country information such as below:

In [ ]:
# Create a Python dictionary
{'country_name':'New Zealand',
 'capital_city':'Wellington',
 'country_code':'NZ',
 'population':4783063,
 'area_km2':270467}

The dictionary key represents the attribute label or title while the dictionary value represents the corresponding information. Pandas library can convert a list of similar dictionaries into a DataFrame object as shown in the example below:

In [ ]:
# Create a list of dictionaries
list_of_countries = [
{'country_name':'China','capital_city':'Beijing','population':1433783686,'area_km2':9596961},
{'country_name':'New Zealand','capital_city':'Wellington','population':4783063,'area_km2':270467},
{'country_name':'South Africa','capital_city':'Pretoria','population':58558270,'area_km2':1221037},
{'country_name':'United Kingdom','capital_city':'London','population':67530172,'area_km2':242495},
{'country_name':'United States','capital_city':'Washington DC','population':329064917,'area_km2':9525067}]

# Create a Pandas DataFrame from a list of dictionaries
countries = pd.DataFrame(list_of_countries, index = ['CN','NZ','ZA','GB','US'])

# Display the DataFrame
countries.head()

In the code above, we notice the variable list_of_countries is defined as a Python list with each element representing a Python dictionary of country information. We import the Pandas library and then we use the built-in DataFrame function to transfer the list of countries into a Pandas Dataframe called countries. The pd.DataFrame is a built-in function to construct DataFrame objects from scratch or from native Python data structures. 

Notice how we used the index parameter to pass a list of country codes as our DataFrame index values. We can then examine the new DataFrame object using the built-in head() function to return the top rows. We will learn later about the different ways to examine any DataFrame content. 

We notice how the dictionary keys were assigned as the DataFrame column names while dictionary values are assigned as the cells. A numerical index with values between 0 to 4 was automatically assigned to the DataFrame object. The user can choose to pass specific index values by using the index parameter as shown in the example above.

Another approach is to use a Python dictionary where keys represent column names and values represent Python lists. You can then make use of Pandas [from_dict()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html) function to transfer the dictionary into a DataFrame object as shown in this example:

In [ ]:
# Create a dictionary where keys represent column names and values represent Python lists.
dictionary_of_countries = {'country_name': ['China', 'New Zealand', 'South Africa', 'United Kingdom', 'United States'],
                           'country_code': ['CN', 'NZ', 'ZA', 'GB', 'US'],
                           'capital_city': ['Beijing', 'Wellington', 'Pretoria', 'London', 'Washington DC'],
                           'population': [1433783686, 4783063, 58558270, 67530172, 329064917],
                           'area_km2': [9596961, 270467, 1221037, 242495, 9525067]}

# Convert a dictionary into a DataFrame using from_dict() function
countries = pd.DataFrame.from_dict(dictionary_of_countries)

# Display the DataFrame
countries.head()

The above examples demonstrated the flexibility of transforming data stored in Python native data structures into Pandas DataFrame objects. 

**[Back to Top](#title)**

#### 3.2 Tabular Data Files
Tabular data is usually structured into rows and columns and presented in various file formats including CSV, tab-delimited files, fixed-width formats, and spreadsheets. Tabular files can be accessed from the local computer or online. 

In this section, we will learn about how to access data from CSV files, Excel Sheet files, and SQL tables. First, we access a CSV file for alcohol consumption by country accessed from the fivethirtyeight [GitHub]() Repository. To do that, we use the [read_csv()]() function and pass the file online location on GitHub. If the CSV file is stored on the local machine, we need to pass the file path.

In [ ]:
# Create a DataFrame object using read_csv() function
alcohol_data = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

# Display the DataFrame
alcohol_data.head()

Another commonly used tabular data format is spreadsheets. Pandas library provides the [read_excel()]() built-in function to access Microsoft Excel spreadsheet files as shown in the example below:

In [ ]:
# Create a DataFrame object using read_excel() function
pd.read_excel("path_to_file/myFile.xls", sheet_name="Sheet1")

Notice how the [read_excel()]() example makes use of the sheet_name parameter to tell the system which sheet name contains the needed dataset. For a complete list of all parameters for each built-in function, check the Pandas official documentation by clicking the function name. 

Another common scenario is to query relational database tables using SQL language. Obviously, you would need to provide the necessary credentials and metadata to establish a connection with the database server. You can then apply [read_sql()]() function to pass the SQL query and load the result into a Pandas DataFrame object. 

To simulate this scenario, the following code will create a local database using the Python SQLite engine. We will then use Pandas to access the data using SQL queries.

In [ ]:
# Import SQLite library
import sqlite3

# Assign the database name
db_path = r'local_db_example.db'

# Create the database file
conn = sqlite3.connect(db_path) 

# Establish a connection with the database file
c = conn.cursor() 

# Create a database table
c.execute("""CREATE TABLE mytable
         (id, name, position)""")


# Add some data
c.execute("""INSERT INTO mytable (id, name, position)
          values(1, 'James', 'Data Scientist')""")

c.execute("""INSERT INTO mytable (id, name, position)
          values(2, 'Mary', 'Software Developer')""")

c.execute("""INSERT INTO mytable (id, name, position)
          values(3, 'Max', 'Data Engineer')""")

# Commit changes and close the connection
conn.commit()

# Close the connection
c.close()

The relational database name `local_db_example.db` should appear as an external file in the same location with your notebook. The database file already includes dummy data describing employee details. The following code queries the data into a Pandas DataFrame object.

In [ ]:
# Identify the database name
database = "local_db_example.db"

# Establish a connection with the database file
conn = sqlite3.connect(database)

# Use Pandas function to pass SQL query and create a DataFrame object
people = pd.read_sql("select * from mytable", con=conn)

# Print the generated DataFrame
print(people)

# Close the connection
conn.close()

In the above example, we created a local database file and used the Pandas library to query the data using SQL, and passed the results into a Pandas DataFrame object. In more practical examples, you may need to query data from relational databases that are stored on remote servers or in the cloud.

**[Back to Top](#title)**

#### 3.3 API Query and JSON Format
When working on daily tasks, data professionals often need to access data from third-party APIs. This approach is common when the data is continually updated like weather forecasting or when you need to select a small subset of data. API response data usually comes in JSON format which you can think of as a collection of Python data structures like dictionaries and lists represented as text. 

For example, we will use API data from [open-notify]() to get information about the International Space Station ISS. The API gives information about the space station location, altitude, and crow members. The following code will make a query about current crew members onboard ISS. In this example, we will make use of the Python request library to establish a connection with the API.

In [ ]:
# Import requests library to handle API connection
import requests

# Import and initialize Data pretty printer library
import pprint
pp = pprint.PrettyPrinter(indent=4)

# Pass the API query using requests library
response = requests.get("http://api.open-notify.org/astros.json")
# print(response.status_code)

# Convert response data into JSON format
response_data = response.json()

Once we have the API response data, we notice the response includes a list of dictionaries about the astronauts currently aboard the ISS. We can convert this part of the response into a Pandas DataFrame object as shown in the example below:

In [ ]:
# Examine the response data
pp.pprint(response_data)

# Create a DataFrame of astronauts currently aboard the ISS
astronauts = pd.DataFrame(response_data['people'])

# Display the DataFrame
astronauts

**[Back to Top](#title)**

#### 3.4 Web Pages Data
Pandas library offers a built-in function to allow users to parse HTML tables from web pages into a list of Pandas DataFrames. This functionality provides users with a fast way to access data tables embedded in web pages’ html code. To demonstrate the process, we will use the Pandas function [read_html()]() to parse the [list of countries by population table]() from Wikipedia into a DataFrame object as shown in the example below:

In [ ]:
# Extract HTML table tags from the web page
web_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)')

# Display the data type
type(web_data)

When examining the type of web_data variable, we notice the [read_html()]() function has returned a list of five elements representing the table tags detected in the webpage HTML code. Each table tag was automatically converted into a Pandas DataFrame object. 

However, not all tables are useful as they may contain unwanted HTML data. Therefore, we must carefully examine the returned list and identify the useful DataFrame objects. 

In this example, we notice the first item `web_data[0]` contains the needed countries table. Therefore, we can assign the fourth item to a new variable for easier use as shown in the code below:

In [ ]:
# Select the first item in the list
web_countries_table = web_data[0]

# Display the DataFrame
web_countries_table.head()

By examining the first few rows of our DataFrame, we notice the parsed table includes some unwanted strings such as brackets `[ ]` and parentheses `( )` in country names and column titles. 

Also, we notice the column Change includes both real numbers and mathematical symbols which would transfer the column into a text datatype (we will learn more about Pandas data types soon). These issues are normal for data accessed from web pages and may not be readily available for data analysis. 

Luckily, Pandas library includes some other tools and functions that would help the user to clean up the data for analysis. The use of the [read_html()]() function would save time from web data using more traditional web scraping libraries such as Beautiful Soup. In later examples, we will learn more about how to convert similar tables from web pages into DataFrames ready for data analysis.

In addition to the above scenarios for creating DataFrame objects using reader functions, the Pandas library also provides a set of writer functions to save DataFrame objects as external datasets.

**[Back to Top](#title)**

### 4.0 Describe Information in DataFrames  <a class="anchor" id="section_4"></a>

In the previous section, we learned how to use Pandas reader and writer functions to create DataFrame objects from different data sources. Once the data is uploaded, users can make use of several built-in attributes designed to examine the states of the DataFrames. These attributes can provide users with information about the DataFrame size, data types, missing values, in addition to basic summary statistics. 

This information is important for users to identify what changes they would need to make to prepare the DataFrame object for further analysis. 

To demonstrate commands, we will use Pandas reader functions to import some publicly available datasets from GitHub.

In [ ]:
# Read dataset from GitHub repository
alcohol_data = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

# Display DataFrame
alcohol_data.head()

One of the first questions to answer when working with a new dataset is to know the size of the data, i.e., how many rows and columns we have. 

To answer this question, we can use the shape attribute which returns a Python tuple representing the dimensionality of DataFrame objects. The first value represents the number of records while the second value counts the number of columns.

In [ ]:
# Check the dimension of alcohol_data DataFrame
Alcohol_data.shape

Another commonly used attribute is size, which can be used to identify how many elements we have in a given DataFrame or Series object (including missing values).

In [ ]:
# How many elements in alcohol_data DataFrame
Alcohol_data.size

# How many elements in alcohol_data[`country`] Series
Alcohol_data[`country`].size

Once we have learned about the size of our DataFrame and Series objects, we can learn more details using the `info()` attribute. It provides a useful summary of the DataFrame columns as shown in the  example below:

In [ ]:
# Display summary of the DataFrame columns
alcohol_data.info()

The results first highlight the number of records in the DataFrame and the range of the numerical index value automatically assigned to this DataFrame. It shows the total number of columns (5 columns in our dataset). Next, it lists the column names with their respective data types and how many values of that column contain an empty or null value. 

In this dataset, it seems we don’t have any missing values since the number of records is equal to the number of non-null counts. We notice the data types for the country column is Pandas objects which represent text values, while three servings columns (`beer_servings`, `spirit_servings`, and `wine_servings`) have the int64 data type which represents integer numbers, and total litres column assigned float64 data type which allows real numbers.

At this stage, we have an idea about what changes we need to make in order to have the correct data types. For example, numerical data types such as int64 allow us to apply mathematical calculations on the values while object data type allows us to apply text formatting functions. In the next section about data cleaning, we will learn how to change data types. 

Finally, the function displays data about how many columns there are for each data type and the memory size of this DataFrame (the memory size info can be useful when working with a large DataFrame and you may wish to optimize the DataFrame size).

The other exploratory attribute [describe()]() will return basic statistical analysis of the DataFrame numeric columns as shown in this example below:

In [ ]:
# Display statistical analysis of the DataFrame
alcohol_data.describe()

From the example above, we notice the [describe()]() function was only applied to the numerical columns and the country name column was ignored. This is because descriptive statistics are based on numerical columns only to summarize the central tendency, dispersion, and shape of a dataset’s distribution, excluding NaN values.

In addition to the numerical statistical summary, you can also explore the features of text values in DataFrames. For this exercise, we will use the [country codes dataset]() from the [Open Data GitHub repository](). The data include many details about each country's international codes and geographic regions.

In [ ]:
# Read dataset from GitHub repository
countries_data = pd.read_csv('https://raw.githubusercontent.com/datasets/country-codes/master/data/country-codes.csv')

# Display DataFrame head
countries_data.head()

For instance, the column Region Name appears to be a text column that holds the geographical region of each country. In order to find the number of individual region values we can apply functions like [unique()](), and [value_counts()]() on Pandas series values like below:

In [ ]:
# Display unique individual region names
countries_data['Region Name'].unique()

In [ ]:
# Display the number of individual region names
countries_data['Region Name'].value_counts()

**[Back to Top](#title)**

### 5.0 Understanding Data Types <a class="anchor" id="section_5"></a>

It is important to assign the correct data type for each DataFrame column in order to avoid any problems for data analysis. Pandas will try to infer the correct data type for each column. For a list of Pandas data type mapping, please refer to this link. 

However, sometimes you need to change the data type manually. Selecting the correct data type will allow you to perform further analysis such as mathematical analysis on numeric columns and text formatting on object data types. The following table presents common Pandas data types:

| Pandas DataType | Usage |
| --- | --- |
| object | Text or mixed numeric and non-numeric values |
| int64 | Integer numbers |
| float64 | Floating point numbers |
| bool | True/False values |
| datetime64 | Date and time values |
| timedelta[ns] | Differences between two datetimes |
| category | Finite list of text values |

We will learn how to change the Pandas data types in the upcoming part of the handbook.

**[Back to Top](#title)**

### 6.0 Data Cleaning in Pandas <a class="anchor" id="section_6"></a>

Previously, we learned how to use the different Pandas tools and functions to get external datasets into a DataFrame object. Many real-life datasets come with problems such as missing values, wrong datatype, and bad formatting. Data professionals usually need to spend lots of time correcting these issues before the dataset becomes ready for analysis. Luckily, Pandas library comes with a set of built-in functions to help users fix these issues. In this section, we will learn how to use Pandas to identify and correct some common data quality issues. 

To demonstrate the process, we will use a toy DataFrame about countries. Each country has different pieces of information such as name, population, size, and independence date as shown in the code below:

In [ ]:
# Create a list of dictionaries
list_of_countries = [
{'Country Name':'China','ISO Code':'CN','Country Population':1433783686,'Country Area km2 (mi2)':'9,596,961 (3,705,407)','Independence Day':'1 October 1949'},
{'Country Name':'New Zealand','ISO Code':'NZ','Country Population':4783063,'Country Area km2 (mi2)':'270,467 (104,428)','Independence Day':'26 September 1907'},
{'Country Name':'South Africa','ISO Code':'ZA','Country Population':58558270,'Country Area km2 (mi2)':'1,221,037 (471,445)','Independence Day':'31 May 1910'},
{'Country Name':'Australia','ISO Code':'AU','Country Population':25763300,'Country Area km2 (mi2)':'7,692,024 (2,969,907)', 'Independence Day':'1 January 1901'},
{'Country Name':'United States','ISO Code':'US','Country Population':329064917,'Country Area km2 (mi2)':'9,525,067 (3,677,649)','Independence Day':'4 July 1776'},
{'Country Name':'New Zealand','ISO Code':'NZ','Country Population':4783063,'Country Area km2 (mi2)':'270,467 (104,428)','Independence Day':'26 September 1907'}]

# Create a Pandas DataFrame from a list of dictionaries
countries = pd.DataFrame(list_of_countries)

# Display the DataFrame
countries

Looking at our DataFrame, we notice the information about the country New Zealand was repeated twice in rows 1 and 5. Also, we notice the Country Area has values in both square kilometers and square miles.

In [ ]:
# Display summary of the DataFrame columns
countries.info()

Examining the DataFrame using the info() attribute shows that both country area and independence day columns were assigned as text datatypes. 

In order to clean up the data for further analysis, we need to perform the following steps: 

* Split the Country Area values into two columns for both kilometer values and square miles
* Remove any non-numeric characters from the area values
* Change the country area and independence date columns to the correct data types
* Drop unwanted rows and columns
* Rename all the columns to have lower case letters separated by underscores

#### 6.1 Split Country Area

The country area column is represented in both square kilometers and square miles. The square miles values are included within parentheses () and there is an empty space between the square kilometers and square miles values. Therefore, we can use the Pandas built-in split() function to separate these values into new different columns as shown in the following code:

In [ ]:
# Apply split() function to separate values into new different columns
countries[['Area km2','Area mi2']] = countries['Country Area km2 (mi2)'].str.split(' ', expand = True)

# Display DataFrame head
countries.head()

The first part of the code countries[['Area km2','Area mi2']] on the left side of the equal `=` sign creates two new DataFrame series. The split() function was used on the Country Area km2 (mi2) Series to separate the numerical values into square km and mile respectively. Note that we needed to tell the function to use the quotes ‘ ’ with space inside as the splitting point and to send each of the generated values into a new column using the expand parameter. 

The split() is one of the many built-in string formatting methods that can be applied to the Pandas series using the format Series.str.<function/property>. The following figure demonstrates the result of using the split() function in our DataFrame.

<img src='Images/split_function.png' class="center"/>

#### 6.2 Replace Strings

After we split the country area into two separate columns for square kilometers and square miles, we need to continue our work to convert these values into numeric format by removing any non-numeric characters such as parentheses and commas from the newly created columns Area km2 and Area mi2. 

To do that, we can use the built-in replace() function to replace occurrences of specific patterns in a given series with some other string. The function will take the first parameter as the targeted string or regular expression pattern, and the second parameter as the replacement value. The following code demonstrates how we replace any non-numeric values using the regular expression (\D+) within the Pandas replace() function.

In [ ]:
# Apply regular expression patternto replace any non-numeric values
countries['Area km2'] = countries['Area km2'].str.replace('(\D+)','')
countries['Area mi2'] = countries['Area mi2'].str.replace('(\D+)','')

<img src='Images/replace string.png' class="center"/>

#### 6.3 Change Columns DataType

Once we separated and cleaned up the country area into the proper format, we can move forward to assign the country area and independent day columns to the correct data types. To do that, we will make use of Pandas astype() function to pass a Python dictionary representing the name of each column and the corresponding data type as shown in this code below:

In [ ]:
# Change specific columns data types
countries = countries.astype({'Area km2': 'int64', 
                              'Area mi2':'int64', 
                              'Independence Day':'datetime64'})

#### 6.4 Drop Rows and Columns

Any data processing task would often include removing duplicate records or unwanted columns. In our countries DataFrame, we notice such cases as repeated rows for New Zealand. As we already split the country area into two new columns, there is no need to keep the old country area column too. 

To remove unnecessary rows, we can make use of the Pandas drop() function to remove rows or columns by specifying label names and corresponding axes. The axis parameter can take two values:

* 0:  to indicate the action will be taken at the row-level or
* 1: to indicate the action will be taken at the column-level

The following code demonstrates how to use the drop() function to remove unwanted rows and columns:

In [ ]:
# To remove the old country area column
countries.drop('Country Area km2 (mi2)', axis = 1, inplace = True) 

# To remove duplicate row for New Zealand
countries.drop(5, axis = 0, inplace = True)

If you have several duplicate rows, we can also make use of the Pandas drop_duplicates() function to keep only the unique rows in the DataFrame. The following code would achieve the same result as the second line of code above.

In [ ]:
countries.drop_duplicates(inplace = True)

#### 6.5 Rename Columns

Another common data processing task is to standardize any DataFrame column names by using lower case letters separated by underscores. To achieve this, we can make use of the Pandas rename() function by passing a dictionary with current and new column names as shown in the code below:

In [ ]:
# Rename columns
countries.rename(columns={'Country Name': 'country_name', 
                          'ISO Code': 'country_code',
                          'Country Population': 'country_population',
                          'Country Date of Independence': 'independence_date',
                          'Area km2': 'area_km2',
                          'Area mi2': 'area_mi2'}, inplace=True)

Then, we can run the info() method to print a concise summary of the DataFrame and examine all the changes applied to this tutorial. We can compare the changes below:

In [ ]:
countries.info()

The output shows that we added two new columns for country areas and changed the data types to support the needed information in each column. There are only five countries instead of six so no more duplicate rows exist. The final DataFrame looks like this:

In [ ]:
countries

**[Back to Top](#title)**

### 7.0 Pandas Merging & Joining Data <a class="anchor" id="section_7"></a>

Data professionals often need to combine different data sources for analysis projects. For example, if you are working on a data science project to analyze how sports games impact food and beverage sales, you may need to collect several datasets such as game timetables, sports teams’ performance, sports venues, and capacity, as well as sales figures for multiple vendors. 

If you are using the Pandas library for your project, it's likely that each dataset is stored in a separate DataFrame. Luckily, the library provides a set of tools that allow us to merge and join multiple DataFrames to create large datasets for analysis. 

In this section, we will learn the two most common ways to combine DataFrames in the Pandas library:

* **pd.concat([DataFrame1, DataFrame2]): Simple combining two or more Pandas dataframes in a column-wise or row-wise approach.**

* **pd.merge([DataFrame1, DataFrame2]): Complex column-wise combining of Pandas dataframes in a SQL-like way.**

The concat() function is used to add together one or more DataFrames. To demonstrate how it works, we will use the function to combine multiple toy DataFrames about popular sports tournaments like FIFA Soccer World Cup and Rugby World Cup. Each dataset has different pieces of information such as winning team, host country, attendance size as shown in the code below:

In [ ]:
# FIFA World Cup Winning Teams
df_fifa_world_cup_winners = pd.DataFrame({'year': [2018,2014,2010,2006,2002,1998],
        'winner': ['France','Germany','Spain','Italy','Brazil','France'],
        'host_country': ['Russia','Brazil','South Africa',
        'Germany','South Korea','Japan']})

# Display DataFrame
df_fifa_world_cup_winners

In [ ]:
# Rugby World Cup Winning Teams
df_rugby_world_cup_winners = pd.DataFrame({'year': [1999,2003,2007,2011,2015,2019],
                                           'winner': ['Australia','England','South Africa','New Zealand','New Zealand','South Africa'],
                                           'host_country': ['Wales','Australia','France','New Zealand','England','Japan'],
                                           'venue':['Millennium Stadium','Telstra Stadium','Stade de France','Eden Park','Twickenham','Nissan Stadium'],
                                           'attendance':[72500,82957,80430,61079,80125,70103]})

# Display DataFrame
df_rugby_world_cup_winners

We first noticed the DataFrames above have some common information such as the year of the event, the winning team name, and the host country. However, the Rugby World Cup dataset has two extra columns: venue and attendance.

Let's try to create a large dataset with all winning FIFA and Rugby world cup teams. The code below demonstrates how to use all the common column names to stack the two DataFrames on top of each other.

In [ ]:
# Join the 2 DataFrames using the concat() method
df_teams = pd.concat([df_fifa_world_cup_winners[['year', 'winner', 'host_country']],
                      df_rugby_world_cup_winners[['year', 'winner', 'host_country']]])

# Display the DataFrame
df_teams

We created a new DataFrame object called df_teams with 12 records from the two parent datasets. However, the resulting DataFrame raises some issues. 

First, it becomes impossible to identify if a given team was part of the original Rugby or Soccer datasets. Second, the new DataFrame object inherits the original index values from the parent datasets. This behaviour can be controlled by adjusting the concat() function parameters. The keys parameter can be used to track the data source by adding extra index values to the new DataFrame as shown in the example below. This feature would allow us to query and access specific subsets of the DataFrame using the newly assigned index value.

In [ ]:
# Add data source index values to the new DataFrame
df_teams = pd.concat([df_fifa_world_cup_winners[['year', 'winner', 'host_country']],
                      df_rugby_world_cup_winners[['year', 'winner', 'host_country']]], keys = ['soccer', 'rugby'])

# Display the DataFrame
df_teams

In another scenario, we may prefer the new DataFrame to have totally new index values. This option can be achieved by setting the ignore_index parameter to true as shown in the code below:

In [ ]:
# Ignore old index values in the new DataFrame
df_teams = pd.concat([df_fifa_world_cup_winners[['year', 'winner', 'host_country']],
                      df_rugby_world_cup_winners[['year', 'winner', 'host_country']]], ignore_index = True)

# Display the DataFrame
df_teams

The concat() function also allows us to combine multiple datasets even with little or no common values among them. The newly generated dataset will include all columns from the original DataFrame, with missing values replaced with null or NaN as shown in the example below.

In [ ]:
# The new DataFrame will include all original columns
df_teams = pd.concat([df_fifa_world_cup_winners,
                      df_rugby_world_cup_winners])

# Display the DataFrame
df_teams

The examples above demonstrate how the Pandas concat() function can create new datasets by adding DataFrame objects on top of each other (row axis). The function also provides the possibility to add the DataFrames sideways (column axis). This option is controlled using the axis parameter when it's set to 0 or 1 as shown in the example below:

In [ ]:
# The new DataFrame will include all original columns aligned horizontally
df_teams = pd.concat([df_fifa_world_cup_winners,
                      df_rugby_world_cup_winners], axis = 1)

# Display the DataFrame
df_teams

Pandas merge() provides the functionality to join DataFrame and Series objects in a way similar to relational database operations. Users who are familiar with merging datasets using SQL but new to Pandas might be interested in this comparison. In this set of examples, we will demonstrate the use of the merge() function and highlight the use of some important parameters. 

The below code will create two DataFrame objects with one similar and four different columns, namely, key, column_A, column_B, column_C, and column_D. The key column includes some similar values that appear on both DataFrames as well as uncommon ones.

In [ ]:
# Create left DataFrame
left = pd.DataFrame(
{
    "key": ["K0", "K1", "K2", "K3", "K4", "K5"],
    "column_A": ["A0", "A1", "A2", "A3", "A4", "A5"],
    "column_B": ["B0", "B1", "B2", "B3", "B4", "B5"]})

# Create right DataFrame
right = pd.DataFrame(
{
    "key": ["K0", "K1", "K2", "K3","K6"],
    "column_C": ["C0", "C1", "C2", "C3","C6"],
    "column_D": ["D0", "D1", "D2", "D3","D6"]})

To join the two DataFrame objects using the  merge() function, we can use a set of parameters to identify common values, joining type, and source object. 

* on: This parameter can be used if the common column has the same name in both DataFrames
* left on: Identify the joining column in the left DataFrame
* right on: identify the joining column in the right DataFrame
* indicator: Add an extra column to the joined DataFrame to show the source of each column
* how: Identify the joining type as one of four possible options [inner, left, right, outer]. 

The following code will merge the two tables using the key column and the default inner joining method. We notice that only four records we selected represent the key values that appear in both DataFrames [k0, k1, k2, k3].

In [ ]:
# Merge the two DataFrames using the common column
result = pd.merge(left, right, on="key", how = 'inner', indicator = True)

# Display the DataFrame
result

By changing the how parameter to outer value, we notice the joined DataFrame includes all records from both original DataFrames as shown in the example below:

In [ ]:
# Merge the two DataFrames using the common column
result = pd.merge(left, right, on="key", how = 'outer', indicator = True)

# Display the DataFrame
result

**[Back to Top](#title)**

### 8.0 Data Accessing & Aggregation <a class="anchor" id="section_8"></a>

So far in this course, you have learned about Pandas different techniques to process and get data ready for analysis. In this section of the course, we will learn about how to explore your data by performing the following tasks:

Selecting data by row, column and index values
Filtering data with conditions
Aggregating and sorting data

To demonstrate these tasks, we will use the following toy DataFrame about different countries' information. The DataFrame has an index value representing each country's ISO code, regions, population size, and most common language in each country.

In [ ]:
# Countries Information DataFrame
df_countries_info = pd.DataFrame({'country_name': ['Egypt','Kenya','Morocco','Nigeria','South Africa','Brazil','Canada','Chile','Mexico','United States','China','India','Indonesia','Japan','Vietnam','Austria','Belgium','France','Italy','United Kingdom','Australia','Fiji','New Zealand','Tonga','Tuvalu'],
                                  'region': ['Africa','Africa','Africa','Africa','Africa','South Americas','North Americas','South Americas','North Americas','North Americas','Asia','Asia','Asia','Asia','Asia','Europe','Europe','Europe','Europe','Europe','Oceania','Oceania','Oceania','Oceania','Oceania'],
                                  'population':[100388073,52573973,36471769,200963599,58558270,211049527,37411047,18952038,127575529,329064917,1433783686,1366417754,270625568,126860301,96462106,8955102,11539328,65129728,60550075,67530172,25203198,889953,4783063,110940,11646],
                                  'main_language':['Arabic','English','Arabic','English','English','Portuguese','English','Spanish','Spanish','English','Mandarin','Hindi','Indonesian','Japanese','Vietnamese','German','Dutch','French','Italian','English','English','English','English','English','English']}, 
                                 index = ['EG','KE','MA','NG','ZA','BR','CA','CL','MX','US','CN','IN','ID','JP','VN','AT','BE','FR','IT','GB','AU','FJ','NZ','TO','TV'])

# Display DataFrame
df_countries_info

Pandas library provides multiple ways to select a group of rows and columns by labels or position values using loc and iloc functions. loc is a label-based selection function where users must specify rows and columns based on the row and column labels; while iloc is an integer position-based selection function where users must specify rows and columns by the integer position values (0-based integer position). 

In the example below, we apply both loc and iloc to select a record based on its index label ‘CN’ or its 10th position in the DataFrame. We notice both methods would return a series object about China country information.

In [ ]:
# Select one record
df_countries_info.loc['CN']

# Select one record
df_countries_info.iloc[10]

We can also pass a list of index labels or position values as shown in the example below:

In [ ]:
# Select a list of records
df_countries_info.loc[['CN','NZ','GB']]

# Select a list of records
df_countries_info.iloc[[10, 19, 22]]

We can also pass a range of index labels or position values using the colon sign : as shown in the example below.

In [ ]:
# Select a range of values
df_countries_info.loc['CN':'NZ']

# Select a range of values
df_countries_info.iloc[10:22]

We can also pass different DataFrame labels and positions as shown in the example below:

In [ ]:
# Select a list of records and columns
df_countries_info.loc[['CN','NZ','GB'],['region','population']]

# Select a list of records and columns
df_countries_info.iloc[[10, 19, 22],[1,2]]

We can also select rows by adding filter conditions that only match a subset of records. Each individual condition is often surrounded by parentheses () and several conditions can be grouped together using AND and OR conditions represented with & or | symbols respectively.   

In the following example, we retrieve all records with the main language being English and the region being Oceania. Note that we left the column selection area empty to indicate that we want all DataFrame columns.

In [ ]:
# Select records based on list of condtions
df_countries_info.loc[(df_countries_info['main_language']=='English') & 
                      (df_countries_info['region']=='Oceania'),]

Sometimes we may need to sort a DataFrame or query output by specific numeric, alphabet, or date values. This process can be achieved by applying sort_values() function which takes the name of the targeted sorting value as a mandatory parameter and ascending order as default behaviour. We can adjust the above example by sorting the result by population size as shown in the code below

In [ ]:
# Sort DataFrame data
df_countries_info.loc[(df_countries_info['main_language']=='English') & 
                      (df_countries_info['region']=='Oceania'),].sort_values(by='population')

Finally, we will learn about how to query specific numerical values per group of records. In our toy example, we may want to know the summarization of population size per region or main language. This query can be answered by applying the Pandas groupby() function on the targeted groups and a summarization function on the numerical value. In the examples below, we calculate the total population size per language and geographic region.

In [ ]:
# Total population size by main language
df_countries_info.groupby('main_language').population.sum()

In [ ]:
# Total population size by region
df_countries_info.groupby('region').population.sum()

**[Back to Top](#title)**

### 9.0 Pandas Data Visualization <a class="anchor" id="section_9"></a>

So far in this course, we have learned about many of the features that make Pandas one of the most popular data analysis and manipulation libraries. An essential part of any data analysis project is to perform a comprehensive exploratory analysis to help understand underlying patterns among the dataset variables.

Although Pandas is not designed for comprehensive data visualization, it is capable of creating basic and practical plots. 

In this section, we will learn how to use Python Pandas to create two types of data visualizations:

* **Chart Visualization**: Graphical representation of data using graphs such as histograms, pie charts, box plots, and so on. 
* **Table Visualization**: Graphical representation of data using HTML styling option within Pandas DataFrame objects. 


Pandas chart visualization can be achieved using the plot() method on Series and DataFrame objects. The function includes several parameters to identify the needed chart type as well as the targeted data columns. In this series of examples, we will use the plot() function to create some popular chart types. 

Time Series is one of the most commonly used charts to represent numerical values that change over a defined period of time. We can see this type of chart in visualizing financial market data like sales and price movement. In the Pandas library, the plot() method can be applied to a Series object with index values representing date values. Note that the line chart is the default type in the plot() method. Therefore, we do not need to change the type parameter. The following example demonstrates how a time series plot is used for visualization as shown in the example below:

In [ ]:
# Import the dataset as a CSV file
df_air_passengers = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv')

# Set the Month values as the DataFrame index
df_air_passengers.set_index('Month', inplace = True)

# Display DataFrame
df_air_passengers.head()

In [ ]:
# Plot the DataFrame
df_air_passengers.plot(figsize= (14,8))

Another commonly used visualization type to examine the relationship between two different numerical variables is a scatter plot. In the example below, we use the popular iris dataset to explore the relationship between petal length and width variables. We can use color grouping to add additional analytics dimensions. In this example, we are adding color groups based on each flower species.

In [ ]:
# Import the dataset as a CSV file
df_iris = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

df_iris.head()

In [ ]:
# Apply a scatter plot to examine the relationship between variables
df_iris.plot(kind = 'scatter', x = 'petal_length', y = 'petal_width', figsize= (14,8))

In [ ]:
# Map species to different color values
col = df_iris['species'].map({'setosa':'b', 
                              'versicolor':'r', 
                              'virginica':'y'})

# Apply a scatter plot to examine the relationship between variables
df_iris.plot(kind = 'scatter', x = 'petal_length', y = 'petal_width', c=col, figsize= (14,8))

Pandas table visualization can be achieved by adding styling instructions to DataFrame objects in order to be rendered as CSS styles. In the example below, we apply the horizontal bar style to the variable sepal_width while the data is sorted in descending order. We notice in the top row, the bar line covers the entire cell and its size countune to get smaller for the rest of the DataFrame.

In [ ]:
# Add bar style to sepal_width variable
df_iris.sort_values(by='sepal_width', 
                      ascending=False).style.bar(subset=['sepal_width'], 
                                                 color='#00AEE8')

**[Back to Top](#title)**